---
import { Image } from "astro:assets";
interface Props {
  image: ImageMetadata;
  title: string;
  button: {
    label: string;
    href: string;
  };
}

const { image, title, button } = Astro.props;
---

<li class="tile">
  <img src={image.src} alt="" />
  <div class="tile__description">
    <h3>{title}</h3>
    <a href={button.href}>{button.label}</a>
  </div>
</li>
